<div class="login-status-header">

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome back {{ userFullName }}!
    </div>

    <div class="btnlogin"><button *ngIf="!isAuthenticated" routerLink="/login" class="btn btn-light">Login</button></div>

    <div class="btnlogin"><button *ngIf="isAuthenticated" (click)="logout()" class="btn btn-light">Logout</button></div>

    <div class="btnlogin"><button *ngIf="isAuthenticated" routerLink="/members" class="btn btn-light">Member</button></div>

    <div class="btnlogin"><button *ngIf="isAuthenticated" routerLink="/order-history" class="btn btn-light">Orders</button></div>

</div>